@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Poor Story', cursive;
  font-size: 18px;
  font-weight: 400;
  background-color: aliceblue;
}
.floating-menu {
  padding: 5px;
  width: 150px;
  position: fixed;
  bottom: 50%;
  right: 50px;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.floating-menu li {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.floating-menu li:hover {
  background-color: #dbdbdb;
}

.body {
  margin-top: 100px;
  height: 100%;
}
.header {
  background-color: white;
  padding: 4px 8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav > div {
  display: flex;
}

.logo > a > img {
  margin: auto;
  display: block;
  width: 230px;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}
.logo,
.menu,
.account {
  flex: 1;
}
.AboutMe,
.CSS,
.HTML,
.JavaScript,
.Playground {
  flex: 1;
}
.AboutMe #AboutMebtn,
.HTML #HTMLbtn,
.CSS #CSSbtn,
.JavaScript #JavaScriptbtn,
.Playground #Playgroundbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: rgb(68, 150, 107);
  background-color: transparent;
  padding: 14px 16px;
  font-family: inherit;
  cursor: pointer;
  margin: auto;
  display: inline;
  text-decoration: none;
}
#AboutMebtn:hover,
#HTMLbtn:hover,
#CSSbtn:hover,
#JavaScriptbtn:hover,
#Playgroundbtn:hover {
  color: black;
}

.account {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.account div {
  text-align: center;
}

.bodyContainer {
  height: 100%;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

.bodyContainer > div {
  margin: 40px auto;
}

#css {
  background-color: antiquewhite;
}
#selector {
  background-color: honeydew;
}
#example {
  background-color: rgb(218, 198, 231);
}
.title {
  margin: 30px 0px 0px 30px;
}
.content {
  margin: 0px 0px 0px 30px;
}
h2 {
  padding: 10px;
  border: 2px solid rgb(78, 199, 207);
  border-radius: 10px;
  display: inline-block;
}

.colorExample:nth-child(1) {
  color: chocolate;
}
#backColor {
  display: inline;
  background-color: hotpink;
}
#borderColor {
  display: inline;
  border: 1px solid blue;
}
.textDeco:nth-child(1) {
  text-align: right;
}
.textDeco:nth-child(2) {
  text-decoration: line-through;
}
.textDeco:nth-child(3) {
  text-decoration: overline;
}
.textDeco:nth-child(4) {
  text-indent: 3em; /* 3 글자 들여쓰기 */
  text-align: justify;
}
.textDeco:nth-child(5) {
  text-indent: 1em; /* 1 글자 들여쓰기 */
  text-align: center;
}

#textDeco > li {
  color: red;
}

#boxModel {
  background: yellow;
  border-style: solid;
  border-color: peru;
  width: 100px;
  border-width: 30px;
  padding: 20px;
  border-radius: 10px;
}

#divBackground {
  color: red;
  text-align: center;
  font-weight: bolder;
  width: 150px;
  height: 200px;
  background-color: skyblue;
  background-size: 100px 100px;
  margin: 20px 0 0 0;
  background-image: url(https://blogpfthumb-phinf.pstatic.net/20160529_51/newbongman_1464504975246hoo1m_GIF/9_BongMAN50.gif);
  background-repeat: repeat-y;
  background-position: center center;
}
.textShadow:nth-child(1) {
  text-shadow: 3px 3px red;
}
.textShadow:nth-child(2) {
  text-shadow: 3px 3px 5px red;
}
.textShadow:nth-child(3) {
  text-shadow: 3px 3px 5px skyBlue;
}
.textShadow:nth-child(4) {
  color: white;
  text-shadow: 0px 0px 3px darkBlue;
}
.textShadow:nth-child(5) {
  color: yellow;
  text-shadow: 2px 2px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.cursor:nth-child(1) {
  cursor: crosshair;
}
.cursor:nth-child(2) {
  cursor: help;
}
.cursor:nth-child(3) {
  cursor: pointer;
}
.cursor:nth-child(4) {
  cursor: progress;
}
.cursor:nth-child(5) {
  cursor: n-resize;
}
