@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Poor Story', cursive;
  font-size: 18px;
  font-weight: 400;
  background-color: aliceblue;
}
h3 {
  margin: 20px;
}
.floating-menu {
  padding: 5px;
  width: 150px;
  position: fixed;
  bottom: 50%;
  right: 50px;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.floating-menu li {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.floating-menu li:hover {
  background-color: #dbdbdb;
}

.body {
  margin-top: 100px;
  height: 100%;
}
.header {
  background-color: white;
  padding: 4px 8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav > div {
  display: flex;
}
h2 {
  padding: 10px;
  border: 2px solid rgb(78, 199, 207);
  border-radius: 10px;
  display: inline-block;
}

.logo > a > img {
  margin: auto;
  display: block;
  width: 230px;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}
.logo,
.menu,
.account {
  flex: 1;
}
.AboutMe,
.CSS,
.HTML,
.JavaScript,
.Playground {
  flex: 1;
}
.AboutMe #AboutMebtn,
.HTML #HTMLbtn,
.CSS #CSSbtn,
.JavaScript #JavaScriptbtn,
.Playground #Playgroundbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: rgb(68, 150, 107);
  background-color: transparent;
  padding: 14px 16px;
  font-family: inherit;
  cursor: pointer;
  margin: auto;
  display: inline;
  text-decoration: none;
}
#AboutMebtn:hover,
#HTMLbtn:hover,
#CSSbtn:hover,
#JavaScriptbtn:hover,
#Playgroundbtn:hover {
  color: black;
}

.account {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.account div {
  text-align: center;
}

.bodyContainer {
  height: 100%;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

.bodyContainer > div {
  margin: 40px auto;
}

#canvas {
  background-color: antiquewhite;
}
#drawing {
  background-color: honeydew;
}
#grade {
  background-color: rgb(218, 198, 231);
}
.title {
  margin: 30px 0px 0px 30px;
}
.content {
  margin: 0px 0px 0px 30px;
}
.colors {
  width: 400px;
  display: flex;
  flex-direction: row;
}
.drawingColor {
  flex: 1;
  width: 20px;
  height: 20px;
  margin: 0px 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
  cursor: pointer;
}

#saveBtn {
  all: unset;
  cursor: pointer;
  background-color: white;
  width: 60px;
  margin-left: 10px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}
#saveBtn:active {
  transform: scale(0.9);
}
