@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
html,
body {
  width: 100%;
  font-family: 'Poor Story', cursive;
  font-size: 18px;
  font-weight: 400;
  background-color: aliceblue;
}
h3 {
  margin: 20px;
}
.floating-menu {
  padding: 5px;
  width: 150px;
  position: fixed;
  bottom: 50%;
  right: 50px;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.floating-menu li {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.floating-menu li:hover {
  background-color: #dbdbdb;
}

.body {
  margin-top: 100px;
  height: 100%;
}
.header {
  background-color: white;
  padding: 4px 8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav > div {
  display: flex;
}
h2 {
  padding: 10px;
  border: 2px solid rgb(78, 199, 207);
  border-radius: 10px;
  display: inline-block;
}

.logo > a > img {
  margin: auto;
  display: block;
  width: 230px;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
}
.logo,
.menu,
.account {
  flex: 1;
}
.AboutMe,
.CSS,
.HTML,
.JavaScript,
.Playground {
  flex: 1;
}
.AboutMe #AboutMebtn,
.HTML #HTMLbtn,
.CSS #CSSbtn,
.JavaScript #JavaScriptbtn,
.Playground #Playgroundbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: rgb(68, 150, 107);
  background-color: transparent;
  padding: 14px 16px;
  font-family: inherit;
  cursor: pointer;
  margin: auto;
  display: inline;
  text-decoration: none;
}
#AboutMebtn:hover,
#HTMLbtn:hover,
#CSSbtn:hover,
#JavaScriptbtn:hover,
#Playgroundbtn:hover {
  color: black;
}

.account {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.account div {
  text-align: center;
}

.bodyContainer {
  height: 100%;
  width: 100%;
  padding: 0 15px;
  margin: auto;
}

.bodyContainer > div {
  margin: 40px auto;
}

#canvas {
  background-color: antiquewhite;
}
#drawing {
  background-color: honeydew;
}
#grade {
  background-color: rgb(218, 198, 231);
}
.title {
  margin: 30px 0px 0px 30px;
}
.content {
  margin: 0px 0px 30px 30px;
}
.colors {
  width: 400px;
  display: flex;
  flex-direction: row;
}
.drawingColor {
  flex: 1;
  width: 20px;
  height: 20px;
  margin: 0px 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
  cursor: pointer;
}

#saveBtn {
  all: unset;
  cursor: pointer;
  background-color: white;
  width: 60px;
  margin-left: 10px;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}
#saveBtn:active {
  transform: scale(0.9);
}

#grade > .content {
  height: 550px;
}

#gradeDiv {
  display: flex;
  width: 700px;
  height: 500px;
  background-color: antiquewhite;
}

#gradeForm {
  width: 500px;
}

#gradeMenu {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid black;
}

#gradeMenu > div {
  height: 50px;
}

#contentForm {
  margin: 40px 50px;
  font-size: 20px;
  font-weight: bold;
}

#contentForm > div {
  margin: 30px;
}

#gradeSave {
  font-family: 'Poor Story', cursive;
  float: right;
  display: block;
  padding: 5px 15px;
  width: 150px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #f9f7c0;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
  border: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#gradeSave:hover {
  background-color: #eeecb5;
}

#gradeSave:active {
  transform: scale(0.9);
}
label {
  display: block;
}
input {
  width: 250px;
  height: 25px;
  padding: 5px 10px;
  margin: 10px 0 0 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

input:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.menuBtn {
  font-family: 'Poor Story', cursive;
  float: right;
  display: block;
  padding: 20px 20px;
  width: 200px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #060b13;
  cursor: pointer;
}

.menuBtn:hover {
  color: rgb(121, 192, 192);
}

#initializeMenu,
#listMenu,
#controlMenu,
#firstGraphMenu,
#secondGraphMenu {
  display: none;
}

.innerDiv {
  margin: 30px auto;
  width: 80%;
  height: 440px;
  background-color: rgb(253, 244, 232);
}

#initDiv {
  display: flex;
  flex-direction: column;
}

#initEx {
  height: 60px;
  text-align: center;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}

#initVal {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.initVals {
  flex: 1;
  border: 1px solid black;
}

.dummys {
  text-align: center;
}

.dummyTable {
  margin: 10px auto;
  border: none;
  border-style: none;
}
.dummys td {
  border-spacing: 0px;
  border-style: none;
}
.dummAns {
  font-weight: bolder;
}

.innerDiv {
  display: flex;
  flex-direction: column;
}

#resultBtn {
  margin: 10px;
}
#resultBtn button {
  margin: 10px;
  font-family: 'Poor Story', cursive;
  width: 70px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid;
  background-color: #f9f7c0;
  color: #060b13;
  cursor: pointer;
}
#resultBtn button:hover {
  color: rgb(121, 192, 192);
}

#gradeTable {
  text-align: center;
  margin: 0 auto;
}

#gradeTable > tr {
  padding: 5px 0;
}
